@font-face {
    font-family: 'Ubuntu';
    src: url('/fonts/Ubuntu/Ubuntu-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;     
}

@font-face{
    font-family: 'Ubuntu-Bold';
    src: url('/fonts/Ubuntu/Ubuntu-B.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'Ubuntu-Light';
    src: url('/fonts/Ubuntu/Ubuntu-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'Ubuntu-Medium';
    src: url('/fonts/Ubuntu/Ubuntu-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'Lifehack';
    src: url('/fonts/Lifehack/Lifehack-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'Gagalin';
    src: url('/fonts/Gagalin/Gagalin-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
  
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

ul{
    padding: 0;
    margin: 0;
}

li{
    list-style: none;
}

.wrapper{
    position: relative;
    height: 100%;
    overflow: hidden;
}

section{
    height: 100vh;
    position: relative;
    overflow: hidden;
    align-items: center;
}
.title{
    font-family: Gagalin;
    font-size: 72px;
    font-weight: normal;
    letter-spacing: normal;
}
.hero{
    background: url(/section_hero/bg_texture.png), url(/section_hero/bg.jpg);
    background-size: cover ;
    background-position:center center;
    background-repeat: no-repeat no-repeat;
}

.hero__container{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container{
    max-width: 940px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 13px;
}

.header__menu{
    display: flex;
    align-items: center;
}

.menu-list{
    display: flex;
    font-family: Ubuntu;
    font-size: 13px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    color: #ffffff;
    line-height: 2.31;
    letter-spacing: normal;
    text-transform: uppercase;
}

.menu-list__item{
    text-decoration: none;
    display: flex;
    align-items: center;
}

.menu-list__item:after{
    content: "";
    width: 5px;
    height: 5px;
    border-radius: 50%;
    display: inline-block;
    background: #fff;
    margin: 0px 13px;
}

.menu-list__item:last-child::after{
    display: none;
}

.menu-list__link{
    color: #ffffff;  
}

.header__order{
    margin-left: 20px;
}

.button{
    display: flex;
    border-radius: 5px;
    font-family: Ubuntu;
    padding: 8px 15px;
    text-transform: uppercase;
    font-style: normal;
    font-stretch: normal;
    margin-left: 20px;
    font-size: 13px;
    font-weight: 500;
    margin: auto;
}

.button_bg-orange{
    color: #ffffff;
    background-color: #e45028;
}

.button_bg-orange:hover{
    background-color: #c1401e;
}

.content{
    display: flex;
    flex-direction: column;
}

.hero__natural{
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero__natural-img{
    flex: 1;
}

.hero__content-text{
    flex: 1;
    margin-left: 14px;
    padding-top: 87px;
}

.hero__content-title{
    color: #f9b43b;
    margin: 0;
    padding-bottom: 10px;
}

.hero__content-desc {
    color: #fff;
    font-family: Lifehack;
    font-size: 65px;
    line-height: 1.0;
    letter-spacing: -1.6px;
    text-align: left;
}

.hero__arrow {
    position: absolute;
    bottom: 40px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.best{
    background: url(/section_best/bg/bg.png);
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
}


.best-column{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    margin:0 auto;
    background-repeat: no-repeat;
    flex-direction: column;
    justify-content: center;
}

.best__heading{
    margin-bottom: 31px;
}

.best__heading-title{
    color: #2f3234;
}

.best__list{
    display: flex;  
    justify-content: space-between;
    align-items: baseline;
    text-align: center;
}

.best__item{
    flex: 1;
    padding: 0 10px;
}

/*.best__item:last-child{
    margin-right: 0;
}*/

.best__icon{
    display: flex;
    justify-content: center;
    margin-bottom: 28px;
}

/*.best__icon-img{
    display: flex;
    align-items: center;
}*/


.best__desc{
    color: #2f3234;
    text-align: center;
}

.best__title{
    display: flex;
    justify-content: center;
    font-weight: 200;
    font-size: 24px;
    font-family: 'Lifehack';
    margin-bottom: 14px;
    letter-spacing: -0.6px;
    line-height: 28.14px;
}

.best__content{
    opacity: 0.8;
    line-height: 24px;
    font-size: 14px;
    font-family: 'Ubuntu-Light';
}

.reviews{
    background: #000000;
    position: relative;
}

.reviews__list{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.reviews__item{
    list-style: none;
    width: 25%;
    height: 50%;
    background: center center / cover no-repeat;
    position: relative;
    filter: grayscale(100%);
}

.reviews__item-hover:hover{
    opacity: 1;
    transition: opacity .3s;
    background: rgba(00, 00, 00, .5)
}

.reviews__item-hover{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px;
    color: #ffffff;
    text-decoration: none;
    font-size: 13px;
    opacity: 0;
    transition: opacity .3s;
}

.reviews__title{
    font-family: 'Gagalin';
    margin-bottom: 18px;
    font-size: 14px;
}

.reviews__text{
    display: flex;
    line-height: 24px;
    max-width: 225px;
    font-family: 'Ubuntu-Light';
    font-size: 14px;
}

.btn_background_black{
    background: #2f3234;
    color: #fff;
}

.btn_background_black:hover{
    background: #1f2122;
}

.team{
    display: flex;
    justify-content: flex-end;
    background-image: url(/section_team/bg.jpg);
    background-size: cover;
}

.team__right{
    width: 50%;
    display: flex;
    flex-direction: column;
    background-color: rgba(49, 52, 54, .92);
    height: inherit;
    justify-content: flex-start;
    position: absolute;
    padding: 115px 0 0 100px;
}

.team__title{
    color: #f9b43b;
    width: 345px;
}

.accordeon__list{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 345px;
}

.accordeon_down:active{

}

.accordeon__label{
    height: 0;
    overflow: hidden;
}

.accordeon__label:hover{
}

.subtitle{
    font-family: 'Gagalin';
    color: #fff;
    font-size: 14px;
    margin-bottom: 10px;
}

.accordeon__content{
    padding-bottom: 20px;
}

.teammate{
    display: flex;
}

.teammate__icon-img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.teammate__info{
    margin-left: 20px;
}

.teammate__title{
    font-family: 'Ubuntu';
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.teammate__desc{
    color: #fff;
    font-family: 'Ubuntu';
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
}

.menu{
    background-image: url(/section_menu/bg.jpg);
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
}

.menu__content{
    height: 100%;
    z-index: 1;
    position: absolute;
    right: 0;
}

.menu__title{
    color: #fff;
    top: 110px;
    position: absolute;
    left: 110px;


}

.menu__list{
    z-index: 1;
    position: absolute;
    right: 0;
    display: flex;
    height: 100%;
}

.menu__item{
    background-size: cover;
    width: 80px;
}

.menu__action{
    display: flex;
    justify-content: center;
    width: 80px;
    height: 100%;
}

.menu__subtitle{
    font-family: 'Gagalin';
    color: #fff;
    font-size: 40px;
    writing-mode: vertical-lr;
    transform: rotate(-180deg);
}

.map__wrap{
    background-image: url(/section__contacts/map.jpg);
    height: 100%;
    background-size: cover;
}

.map__footer{
    position: absolute;
    height: 60px;
    bottom: 0;
    background: #000;
    width: 100%;
}

.footer{
    height: 60px;
}

.footer-left{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.address{
    color: #fff;
}

.phone{
    display: flex;
    align-content: center;
    color: #e45028;
    line-height: 24px;
}

.footer-right{
    width: 50%;
}

.fixed-menu{
    position: fixed;
    top: 100px;
    right: 50px;  
}

.fixed__list{
    flex-direction: column;  
}

.fixed-menu__item{
    margin-left: 0;
    margin-bottom: 5px;
}

.fixed-menu .active .fixed-menu__link{
    border-color: #fff;
}

.fixed-menu__link{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid transparent;
}

.fixed-menu__link::before{
    content: "";
    display: flex;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #fff;
}

.fixed-menu__link:hover{
    border: 1px solid #fff;
}

