.burgers{
    background-image: linear-gradient(to top, #f9b43b, #eb8c38 48%, #f9b43b 74%);
    display: flex;
}

.burgers__wrap{
    display: flex;
    align-items: center;  
}

.component{
    position: relative;
    top: 0;
    display: flex;
}

.component__burgers{
    width: rem(90px);
    height: rem(90px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: rem(5px);
    background-color: #f08c33;
    opacity: 0.8;
    position: absolute;
    &:hover{
        background-color: #e35028;
    }
}

.component__icon{
    width: rem(46px);
    height: rem(45px);
    margin-bottom: rem(4px);
}

.component__text{
    font-family: 'Gagalin';
    font-size: 14px;
    letter-spacing: normal;
    color: #fff;
}

.component:hover .component__drop{ 
    left: 90px; 
}

.component__drop{
    content:'';
    position: absolute; 
    right: -9999px;
    width: rem(270px);
    opacity: 0.9;
    border-radius: 5px;
    background-color: #ffffff;
    color: #000;
    font-size: 14px;
    font-family: 'Ubuntu';
}

.list__drop{
    display: flex;
    flex-direction: column;
    padding: 18px 0 0 22px;
}

.list__drop-ingridients{
    display: flex;
    margin-bottom: rem(18px);
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.list__drop-desc{
    display: flex;
    flex: 1;
    align-items: center;
}

.list__drop-icon{
    flex: 1;
}

.list__drop-name{
    flex: 2;
    text-align: left;
    margin-left: rem(15px);
}

.list__drop-weight{
    flex: 1;
    margin-right: rem(7px);
}

.burgers-image{
    padding-top: rem(70px);
}

.kcal{
    background-image: url("/icons/kkal.svg");
    width: 60px;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: rem(25px);
    opacity: 0.5;
    position: absolute;
}

.kcal__weight{
    font-size: 20px;
    font-family:'Gagalin';
    color: #fff;
}

.kcal__text{
    margin-top: 9px;
    font-family:'Gagalin';
    font-size: 14px;
    color: #fff;
}

.burgers-text{
    display: flex;
    flex-direction: column;
    color: #fff;
    margin-left: 15px;
}

.burgers-text__title{
    line-height: 0.89;
    margin-bottom: rem(56px);
}

.burgers__content-desc{
    @include ubuntu($style: light);
    margin-bottom: rem(36px);
}

.burgers__order{
    display: flex;
    align-items: baseline;
}

.burgers__price{
    margin-right: 10px;
    color: #e35028;
}

.burgers__currency{
    font-family: 'Gagalin';
    font-size: rem(30px); 
    color: #e35028;
}

.burgers__btn{
    margin-left: 29px;
}

.slider__control_next{
    position: absolute;
    top: 206px;
    left: -40px;
    transform: rotate(90deg);
}

.slider__control_prev{
    position: absolute;
    top: 206px; 
    right: -40px;
    transform: rotate(-90deg);
}

.arrow__icon{
    width: 30px;
    height: 15px;
}