.map__wrap{
    background-image: url(/section__contacts/map.jpg);
    height: 100%;
    background-size: cover;
}

.map__footer{
    position: absolute;
    bottom: 0;
    background: #000;
    width: 100%;
}

.footer{
    height: 60px;
}

.footer__container{
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.address{
    @include ubuntu($style: light);
    color: #fff;
}

.phone{
    display: flex;
    align-items: center;
    color: #e45028;
    line-height: 24px;
}

.phone__icon{
    width: 11px;
    height: 11px;
    margin-right: 10px;
}

.socials__list{
    display: flex;
    align-items: center;
}

.socials__icon {
    margin-left: 20px;
    width: 20px;
    height: 20px;
    fill: grey;
    &:hover{
        fill: #fff;
    }
}
