.order{
    display: flex;
    background: url(/section_order/logos.png), url(/section_order/bg.jpg);
    background-size: cover;
    background-position:center center;
    background-repeat: no-repeat no-repeat;
}

.order-column{
    flex-direction: column;
    justify-content: center;
}

.order__title{
    color: $yellow;
    display: flex;
    justify-content: center;
}

.form{
    display: flex;
}

.form__content{
    margin-left: 10px;
    &:first-child{
        margin-left: 0;
    }
}

.form__row{
    display: flex;
}

.form__block{
    flex: 1;
}

.form__block-title{
    font-size: 14px;
    @include ubuntu($style: light);
    color: #fff;
}

.form__radio-desc{
    font-family: 'Ubuntu';
    color: #fff;
}

.form__block-input{
    border-radius: 7px;
}

.form__radio{
    margin-left: 20px;
    display: flex;
    align-items: center;
    &:first-child{
        margin-left: 0;
    }
}

.btn_bg_none{
    background-color: transparent;
}