.team{
    display: flex;
    justify-content: flex-end;
    background-image: url(/section_team/bg.jpg);
    background-size: cover;
}

.team__right{
    width: 50%;
    display: flex;
    flex-direction: column;
    background-color: rgba(49, 52, 54, .92);
    height: inherit;
    justify-content: flex-start;
    position: absolute;
    padding: 115px 0 0 100px;
}

.team__title{
    color: $yellow;
    width: 345px;
}

.accordeon__list{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 345px;
}

.accordeon__label{
    overflow: hidden;
}

.subtitle{
    font-family: 'Gagalin';
    color: #fff;
    font-size: 14px;
    margin-bottom: 10px;
}

.accordeon__content{
    padding-bottom: 20px;
}

.teammate{
    display: flex;
}

.teammate__icon-img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.teammate__info{
    margin-left: 20px;
}

.teammate__title{
    font-family: 'Ubuntu';
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.teammate__desc{
    color: #fff;
    font-family: 'Ubuntu';
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
}